* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  background: hsl(240, 6%, 10%);
  color: var(--gray);

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.background {
  background: hsl(240, 9%, 97%);
  color: hsl(240, 6%, 10%);
}
.bg-mode {
  background-image: url(images/light-mode.png);
}
.text-mode {
  color: hsl(240, 6%, 10%);
}

body {
  display: grid;
  place-items: center;
}

.btn-light {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: transparent;
  font-size: 30px;
  border: none;
}
.fa-sun {
  color: #ffa91c;
}
.fa-moon {
  color: hsl(240, 6%, 10%);
}
main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 3rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}
