* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);

  background: hsl(240, 6%, 10%);
  color: var(--gray);
  overflow-x: hidden;

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.background {
  background: hsl(240, 9%, 97%);
  color: hsl(240, 6%, 10%);
}
.bg-desktop-light {
  background: url(images/desktop-light.svg) no-repeat center/cover;
}
.bg-mobile-light {
  background: url(images/mobile-light.svg) no-repeat center/cover;
}
.text-mode {
  color: hsl(240, 6%, 10%);
}

body {
  display: grid;
  place-items: center;
}

.btn-light {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: transparent;
  font-size: 30px;
  border: none;
}
.fa-sun {
  color: #ffa91c;
}
.fa-moon {
  color: hsl(240, 6%, 10%);
}
main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
}
span {
  color: var(--gray);
  transition: 0.5s;
}
span:hover {
  color: gray;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 3rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}
li {
  position: relative;
  top: 0;
  transition: top ease 0.3s;
}

li:hover {
  top: -5px;
}
@media (max-width: 720px) {
  .btn-light {
    display: none;
  }
}

@media (min-width: 720px) {
  /* Background */
  body {
    background: #121212 url(images/Desktop.svg) no-repeat center/cover;
  }
  main {
    background: url(images/background-desktop.svg) no-repeat center/cover;
    width: 25rem;
    min-height: 0px;
    height: auto;
    margin: 0 0 15px;
    transition: 0.3s;
  }
  /* Container */
  .avatar {
    margin: 17rem auto 0;
  }

  ul {
    margin: 3rem 0;
  }
}
